Source: ros-kinetic-cpswarm-msgs
Section: misc
Priority: optional
Maintainer: Gianluca Prato <prato@ismb.it>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib-msgs, ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-swarmros
Homepage: http://wiki.ros.org/cpswarm_msgs
Standards-Version: 3.9.2

Package: ros-kinetic-cpswarm-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib-msgs, ros-kinetic-geometry-msgs, ros-kinetic-message-runtime, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-swarmros
Description: Common messages required by the CPSwarm Behavior Library.
